/Java/GestioProjectesModel/nbproject/private/
/Java/GestioProjectesModel/build/
/Java/GestioProjectesModel/dist/
/Java/GestioUsuarisProjectesSWING/nbproject/private/
/Java/GestioUsuarisProjectesSWING/build/
/Java/GestioUsuarisProjectesSWING/dist/