/Java/GestioProjectesModel/nbproject/private/
/Java/GestioProjectesModel/build/
/Java/GestioProjectesModel/dist/
/Java/GestioUsuarisProjectesSWING/nbproject/private/
/Java/GestioUsuarisProjectesSWING/build/
/Java/GestioUsuarisProjectesSWING/dist/
/Java/EPGestioProjectes/nbproject/private/
/Java/EPGestioProjectes/build/
/Java/EPGestioProjectes/dist/