/Java/GestioProjectesModel/nbproject/private/
/Java/GestioProjectesModel/build/
/Java/GestioProjectesModel/dist/
/Java/GestioUsuarisProjectesSWING/nbproject/private/
/Java/GestioUsuarisProjectesSWING/build/
/Java/GestioUsuarisProjectesSWING/dist/
/Java/EPGestioProjectes/nbproject/private/
/Java/EPGestioProjectes/build/
/Java/EPGestioProjectes/dist/
/Java/Interficie/nbproject/private/
/Java/Interficie/build/
/Java/Interficie/dist/
/Java/Servidor/nbproject/private/
/Java/CPGestioProjecte/nbproject/private/
/Java/Servidor/build/
/Java/Servidor/dist/
/Java/EPMySQL/nbproject/private/
/Java/CapaMYSQL/nbproject/private/
/Java/CapaMYSQL/build/
/Java/CapaMYSQL/dist/
/Java/CapaServidorMYSQL/nbproject/private/
/Java/CapaServidorMYSQL/build/
/Java/CapaServidorMYSQL/dist/